{% extends "base.html" %}
{% block title %}NİTAVOS{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Nitavos.css')}}">
    <script
    type="text/javascript"
    src="{{ url_for('static', filename='Nitavos.js') }}"
  ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nitavos'a Hoşgeldiniz</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- Grid js -->
    <script type="text/javascript" src="assets/scripts/grid/jquery-1.10.2.min.js"></script>
    <script src="assets/scripts/grid/grids.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $('.element').responsiveEqualHeightGrid();
        });
    </script>
    <!-- Grid js -->
</head>
<body>
   <!--Navbar-->
   <div class="topnav" id="myTopnav">
    <span style="font-size:55px;cursor:pointer;color:white" onclick="openNav()">&#9776; Nitavos </span>
    <div class="header-right">

        <a href="/"><i class="fa fa-fw fa-home"></i><p id="navbar">Ana Sayfa</p></a>
     </div>
     <div id="mySidenav" class="sidenav">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
         <a href="/"><i class="fa fa-fw fa-home"></i><p id="navbar">Ana Sayfa</p></a>
         <a href="/hakkinda"><i class="fa fa-fw fa-file"></i><p id="navbar">Hakkında</p></a>
         <a href="/hastaliklar"><i class="fa fa-fw fa-leaf"></i><p id="navbar">Hastalıklar</p></a>
         <a href="/login"><i class="fa fa-fw fa-home"></i><p id="navbar">Giriş Yap</p></a>
         <a href="/sign-up"><i class="fa fa-fw fa-bars"></i><p id="navbar">Kayıt Ol</p></a>
 </div>
</div>
 <!--Navbar-->
    <!-- Ana Sayfa -->
    <div class="grey-square">
        <div class="row">
            <div class="column">
                <p id="baslik">
                    <img src="static/LOGO_SONHALİ isimli.png" class="image">
                </p>
            </div>
            <div class="column">
                <p id="baslik">
                    Nesnelerin İnternet Tabanlı Akıllı Ve Otonom Sulama Sistemi, NITAVOS'a Hoşgeldiniz
                </p>
            </div>
        </div>
    </div>
    <!-- Ana Sayfa -->
    <div class="white-square">
        <p id="yazi">
            Türkiye İçin Detaylı Hava Durumu
        </p>
        <!--Widgetlar-->
        <div class="row2">
            <div class="column2">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-f57de6ce-9c95-4ccf-b605-ad7d8faba918"></div>
            </div>
            <div class="column2">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-74cf1c48-4dfe-4e0d-a4d0-f253d4cf023b"></div>
            </div>
            <div class="column2">
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-89c84bdc-a3c6-4c7f-b9b7-310e5ed6ddf1"></div>
            </div>
        </div>
        <!--Widgetlar-->
    </div>

     <!--SSS Sikça Sorulan Sorular-->
     <div class="grey-square">

         <p id="gribosluk">-</p>
         <p id="yazi">
             Nitavos Tarım Teknolojileri ile İnterneti kullanarak uzaktan ve su tasaruflu tarım yapan bir sistemdir
         </p>
         <p id="gribosluk">-</p>
     </div>
     <!--SSS Sikça Sorulan Sorular-->

     <!--Kontak-->
     <div class="white-square">
         <p id="byzbosluk">-</p>

        <div class="baslik">
            <div class="email">
                <form action="mailto:" method="post" enctype="text/plain">
                    <t>İsim:</t><br>
                    <input type="text" name="name"><br>
                    <t>E-mail:</t><br>
                    <input type="text" name="mail"><br>
                    <t>Mail İçeriği:</t><br>
                    <input type="text" name="comment" size="30"><br><br>
                    <input type="submit" value="Gönder">
                    <input type="reset" value="Sıfırla">
                </form>
            </div>
        </div>
        <p id="yazi">
            Sorularınız var ise, lütfen bizimle iletişime geçin.
        </p>
    </div>
    <!--Kontak-->
    <!-- jQuery -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- jQuery -->
</body>
</html>

{% endblock %}