{% extends "base.html" %}
{% block title %}NITAVOS-Hastalıklar{% endblock %}
{% block content %}
<!DOCTYPE html>
 <html>
 <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Nitavos.css')}}">
    <script
    type="text/javascript"
    src="{{ url_for('static', filename='Nitavos.js') }}"
  ></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Tarım Hastalıkları</title>
     <link rel="stylesheet" href="assets/css/bootstrap.min.css">
     <link rel="stylesheet" href="assets/css/style.css">
     <link rel="stylesheet" href="assets/css/responsive.css">


     <!-- Grid js -->
     <script type="text/javascript" src="assets/scripts/grid/jquery-1.10.2.min.js"></script>

     <script src="assets/scripts/grid/grids.js"></script>

     <script type="text/javascript">
         jQuery(function ($) {
             $('.element').responsiveEqualHeightGrid();
         });
     </script>
     <!-- Grid js -->


 </head>
 <body>

     <!--Navbar-->
     <div class="topnav" id="myTopnav">
         <span style="font-size:55px;cursor:pointer;color:white" onclick="openNav()">&#9776; Nitavos </span>
         <div class="header-right">
            <a href="/hastaliklar2"><i class="fa fa-fw fa-leaf"></i><p id="navbar"> Hastalıklar</p></a>
         </div>
         <div id="mySidenav" class="sidenav">
             <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
             <a href="/anasayfa2"><i class="fa fa-fw fa-home"></i><p id="navbar">Ana Sayfa</p></a>
             <a href="/hakkinda2"><i class="fa fa-fw fa-bars"></i><p id="navbar">Hakkında</p></a>
             <a href="/hastaliklar2"><i class="fa fa-fw fa-leaf"></i><p id="navbar">Hastalıklar</p></a>
             <a href="/sulama+bilgileri"><i class="fa fa-fw fa-wrench"></i><p id="navbar">Sulama Sis.</p></a>
             <a href="/logout"><i class="fa fa-fw fa-remove"></i><p id="navbar">Çıkış Yap</p></a>
         </div>
     <!--Navbar-->
     <!-- jQuery -->
     <script src="assets/js/jquery.min.js"></script>
     <script src="assets/js/bootstrap.min.js"></script>
     <!-- jQuery -->

 </body>
 </html>
{% endblock %}